*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}
#navigation{
	height:70px;
	background:rgba(0,0,0,0.7);
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 15px;
	z-index:2;
}

nav a:hover,
nav a:focus {
	outline: none;
}


.main-nav{
	float:right;
}

.main-nav a {
	padding: 10px 20px;
}

.main-nav a::before,
.main-nav a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid $dark-gray;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.main-nav a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.main-nav a:hover::before,
.main-nav a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.main-nav a:hover::after,
.main-nav a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

	.cl-effect-17 a {
		color: $blue;
		text-shadow: none;
		padding: 7px 0;
	}

	.cl-effect-17 a::before {
		color: $blue;
		text-shadow: 0 0 1px rgba(255,255,255,0.3);
		content: attr(data-hover);
		position: absolute;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition: -moz-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		pointer-events: none;
	}

	// .cl-effect-17 a::after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 40px;
	// 	bottom: 0;
	// 	width: 70%;
	// 	height: 2px;
	// 	background: $light-blue;
	// 	opacity: 0;
	// 	-webkit-transform: translateY(5px);
	// 	-moz-transform: translateY(5px);
	// 	transform: translateY(5px);
	// 	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	// 	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	// 	transition: transform 0.3s, opacity 0.3s;
	// 	pointer-events: none;
	// }

	.cl-effect-17 a:hover::before,
	.cl-effect-17 a:focus::before {
		opacity: 0;
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.cl-effect-17 a:hover::after,
	.cl-effect-17 a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	.hamburger{
		position:absolute;
		right:0;
		width:50%;
		top:70px;
		background:rgba(0,0,0, 1);
		height:100vh;
		z-index:10;
		nav a {
			position: relative;
			display: block;
			font-family:$lato;
                  font-weight:300;
			margin: -9px 25px;
			outline: none;
			color: $white;
			text-decoration: none;
			letter-spacing: 1px;
			font-size: 25px;
			padding-left:40px;
			transition: opacity 2s linear;
			i{
			  margin-right:5px;
			  color:$blue;
			  font-size:20px;
			}
			&:hover,
			&:focus {
				outline: none;
				color:$blue;
				transition:ease-in 0.2s;
			}
		}
	}
nav .cl-effect-17 {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
    i{
	    margin-right:5px;
    }
}
.hamburger{
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
	a:first-child{
		padding-top:40px;
	}
}
$base : 1rem;
$space : $base/4;
$color : #ecf0f1;
$transition: .3s;// increase this to see the transformations happen in slow motion

.grid-button {
  padding: $base*2; //2rem
  cursor: pointer;
  user-select: none;
}
.grid-button .grid{
    width: $base;
    height: $base;
    background: $color;
    color: $color; /* Not in use when the colors are specified below */
    transition: $transition;
}
.grid-button.rearrange .grid{
    box-shadow:
      -($base+$space) 0 -($base+$space),
      0 0 -($base+$space),
      ($base+$space) (-($base + $space)),
      -($base+$space) 0,
      $base+$space 0,
      -($base+$space) ($base + $space),
      0 ($base+$space),
      ($base+$space) ($base + $space);

}
.grid-button.rearrange.close .grid{
      box-shadow:
        0 0 -$base,
        0 0 -$base*2,
        $base 0,
        -$base*2 0,
        $base*2 0,
        -$base 0,
        0 $base*2,
        0 $base;
      transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
}
button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
  &:focus{
        outline:none !important;
 }
}
button span {
  display: block;
}

.grid-button {
  padding: 2rem;
  cursor: pointer;
  user-select: none;
}

.grid-button .grid {
  width: 1rem;
  height: 1rem;
  background: #ecf0f1;
  color: #ecf0f1;
  /* Not in use when the colors are specified below */
  transition: 0.3s;
}

.grid-button.close .grid {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
}

.grid-button.rearrange .grid {
  box-shadow: -1.25rem -1.25rem, 0 -1.25rem, 1.25rem -1.25rem, -1.25rem 0, 1.25rem 0, -1.25rem 1.25rem, 0 1.25rem, 1.25rem 1.25rem;
}

.grid-button.rearrange.close .grid {
  box-shadow: 0 -1rem, 0 -2rem, 1rem 0, -2rem 0, 2rem 0, -1rem 0, 0 2rem, 0 1rem;
}

.grid-button.collapse .grid {
  box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 1.25rem, 1.25rem 1.25rem;
}

.grid-button.collapse.close .grid {
  box-shadow: -1rem 0, 0 0 transparent, 1rem 0, 0 0 transparent, 0 -1rem, 0 0 transparent, 0 1rem, 0 0 transparent;
}
