*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}
#navigation{
	height:70px;
	background:rgba(0,0,0,0.7);
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
}
#mobile-navigation{
      position: fixed;
      top: -36px;
      right: 0;
      display:none;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 15px;
	z-index:2;
}

nav a:hover,
nav a:focus {
	outline: none;
}


.main-nav{
	float:right;
}

.main-nav a {
	padding: 10px 20px;
}

.main-nav a::before,
.main-nav a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid $dark-gray;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.main-nav a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.main-nav a:hover::before,
.main-nav a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.main-nav a:hover::after,
.main-nav a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

	.cl-effect-17 a {
		color: $blue;
		text-shadow: none;
		padding: 7px 0;
	}

	.cl-effect-17 a::before {
		color: $blue;
		text-shadow: 0 0 1px rgba(255,255,255,0.3);
		content: attr(data-hover);
		position: absolute;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition: -moz-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		pointer-events: none;
	}

	.cl-effect-17 a:hover::before,
	.cl-effect-17 a:focus::before {
		opacity: 0;
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.cl-effect-17 a:hover::after,
	.cl-effect-17 a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	.hamburger{
		position:absolute;
		right:0;
		width:80%;
		top:70px;
		background:rgba(0,0,0, 1);
		height:100vh;
		z-index:10;
		nav a {
			position: relative;
			display: block;
			font-family:$lato;
                  font-weight:300;
			margin: -9px 25px;
			outline: none;
			color: $white;
			text-decoration: none;
			letter-spacing: 1px;
			font-size: 25px;
			padding-left:40px;
			transition: opacity 2s linear;
			i{
			  margin-right:5px;
			  color:$blue;
			  font-size:20px;
			}
			&:hover,
			&:focus {
				outline: none;
				color:$blue;
				transition:ease-in 0.2s;
			}
		}
	}
nav .cl-effect-17 {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
    i{
	    margin-right:5px;
    }
}
.hamburger{
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
	a:first-child{
		padding-top:40px;
	}
}
/* ====================== lines button ==================================================*/
.lines-button {
 padding: 2rem 1rem;
 transition: .3s;
 cursor: pointer;
 user-select: none;
 border-radius: 0.57143rem;
 /* */
}
.lines-button:hover {
 opacity: 1;
}
.lines-button:active {
 transition: 0;
 outline:none;
}
.lines-button:focus{
      outline:none;
}

.lines {
 display: inline-block;
 width: 30px;
 height: 4px;
 background: $white;
 border-radius: 0.28571rem;
 transition: 0.3s;
 position: relative;
 margin:0 auto;
}
.lines:before, .lines:after {
 display: inline-block;
 width: 23px;
 height: 4px;
 background: $white;
 border-radius: 0.28571rem;
 transition: 0.3s;
 position: absolute;
 left: 0;
 content: '';
 -webkit-transform-origin: 0.28571rem center;
 transform-origin: 0.28571rem center;
 margin:0 auto;
}
.lines:before {
 top: 9px;
 right:1px;
}
.lines:after {
 top: -9px;
 right:1px;
}

.lines-button:hover .lines:before {
 background:$red;
}
.lines-button:hover .lines:after {
 background:$red;
}
.lines-button:hover .lines{
      background:$red;
}

.lines-button.open {
 -webkit-transform: scale3d(0.8, 0.8, 0.8);
 transform: scale3d(0.8, 0.8, 0.8);
}



.lines-button.x.open .lines {
 background: transparent;
}
.lines-button.x.open .lines:before, .lines-button.x.open .lines:after {
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 top: 0;
 width: 4rem;
}
.lines-button.x.open .lines:before {
 -webkit-transform: rotate3d(0, 0, 1, 45deg);
 transform: rotate3d(0, 0, 1, 45deg);
 height:4px;
}
.lines-button.x.open .lines:after {
 -webkit-transform: rotate3d(0, 0, 1, -45deg);
 transform: rotate3d(0, 0, 1, -45deg);
 height:4px;
}
.lines-button.x.close .lines{

    /*hide the middle line*/
    background: transparent;

    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: 23px;
    }

    // rotate the lines to form the x shape
    &:before{
      transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg);
    }
}
