/* ========================================================================== */
/* =================================== ALL ================================== */
/* ========================================================================== */
h2, h3, h4, h5, h6, p, a{
  font-family:$lato;
}
h2{
  color:white;
  font-size:35px;
  font-weight:400;
  padding-bottom:20px;
}

body{
  background:black;
  height:1800px;
  background:url(../img/common/pattern.png);
  background-size:10%;
  background-repeat:repeat;
  header{
    // background:url(../img/common/header.jpg);
    height:100vh;
    background-size:cover;
    h1{
      text-align:center;
      position:absolute;
      top:50%;
      left:50%;
      color:$white;
      font-size:400px;
      margin-top: -150px;
      margin-left:-200px;

    }
  }
  #description{
    // padding:30px 50px;
    height:355px;
    color:white;
    font-family:$lato;
    font-weight:100;
    background:url(../img/common/img1.png) $red;
    background-size:522px;
    background-position:right;
    background-repeat:no-repeat;
    padding:40px 80px;

    h2{
      color:white;
      font-size:35px;
      font-weight:400;
      padding-bottom:20px;
    }
    p{
      font-weight:100;
      line-height:35px;
      max-width:60%;
    }
  }
  #main-features{
    height:400px;
    width:100%;
    .featured-box{
      background-size:426px;
      float:left;
      height:100%;
      text-align:center;
      width:33.333333333%;
      position:relative;
      transition:all 0.6s;
      overflow:hidden;

      .zoom-out{
            position:absolute;
            width:100%;
            height:100%;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            &.tattoo-bg{
                  background:url(../img/common/feature1.jpg);
            }
            &.haircut-bg{
                  background:url(../img/common/feature2.jpg);
            }
            &.nail-bg{
                  background:url(../img/common/feature3.jpg);
            }
        }
      i{
        color:white;
        font-size:150px;
        vertical-align:middle;
        top:50%;
        left:50%;
        margin-top:-75px;
        margin-left:-75px;
        position:absolute;
        z-index:2;
      }
    }
  }
  .displayed{
    display:block !important;
  }
  #main-features-content{
    height:350px;
    width:100%;
    .main-features-content-box{
      width:100%;
      height:100%;
      &.haircuts{
        background:$blue;
        display:none;
      }
      &.tattoos{
        background:$red;
        display:none;
      }
      &.nails{
        background:white;
        display:none;
        h2{
          color:black;
        }
      }
      .mfcb-wrapper{
        width:60%;
        margin-left:40%;
        padding-top:60px;
      }
    }
  }
  #contact-us{
    height:1000px;
    background:url(../img/common/map.jpg);
    background-size:cover;
    display:block;
    label{
      color:white;
      font-family:$lato;
      font-weight:300;
      padding: 0.75em 0;
      font-size: 70.25%;
      -webkit-font-smoothing: antialiased;
    }
    textarea{
      border:1px solid $dark-gray;
      background:$darker-gray;
      resize:none;
      width:80%;
      height:200px;
      color:white;
      font-family:$lato;
      font-weight:100;
      font-size:15px;
      padding:10px;
    }
    #form{
      width:50%;
      padding:100px;
      float:left;
      .submit-button{
        background:white;
        height:60px;
        width:80%;
        color:black;
        font-family:$lato;
        font-weight:100;
        font-size:15px;
        text-align:center;
        margin-top:20px;
      }

      h3{
        font-family:$lato;
        font-weight:100;
        font-size:30px;
        color:white;
        padding-top:30px;
        margin-bottom:20px;
        span{
          font-size:16px;
        }
      }
    }
      #company-info{
          width:50%;
          float:left;
          ul{
                margin-top:30px;
            li{
                  color:white;
                  font-family:$lato;
                  font-weight:100;
                  font-size:16px;
                  line-height:30px;
                  padding-left:120px;
            }
          }
          img{
                width:60%;
                padding-top:300px;
          }
      }
   }
}


/* ========================================================================== */
/* ================================= MOBILE ================================= */
/* ========================================================================== */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}
/* IPHONE 6+ -------------- */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {

}


@media only screen and (max-width : 767px) {

}
@media only screen and (max-width : 730px) {

}
@media only screen and (min-device-width : 400px) and (max-device-width : 600px){

}
@media only screen and (min-device-width : 450px) and (max-device-width : 500px){

}
@media only screen and (min-width : 768px) and (max-width : 1024px) {


}
/* ========================================================================== */
/* ============================== INTERMEDIATE ============================== */
/* ========================================================================== */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (portrait) ----------- */
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
//   .box-content{
//     display:block;
//   }
// }
/**********
iPad 3
**********/
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//   .box-content{
//     display:block;
//   }
// }

// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//   .box-content{
//     display:block;
//   }
//   .content-informations{
//     background:rgba(255,255,255, 0.5);
//     width:100%;
//     margin:0 auto;
//     padding:120px 20px;
//   }
// }

/* ========================================================================== */
/* ================================== WIDE ================================== */
/* ========================================================================== */
@media only screen  and (min-width : 1024px) {


}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width : 1281px){

}

/* ========================================================================== */
/* ================================= MAXIMAL ================================ */
/* ========================================================================== */

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}
/* Large screens ----------- */
@media only screen  and (min-width : 1440px) and (max-width : 2560px) {

}

/* ========================================================================== */
/* ================================= PRINT ================================== */
/* ========================================================================== */
